{# src/templates/content_element/element_group_flex.html.twig #}
{% extends "@Contao/content_element/_base.html.twig" %}

{% set attributes = attrs()
    .addClass('flex-group')
    .addClass(['flex-group--' ~ data.flex_align|default(''), 'flex-group--' ~ data.flex_justify|default('')])
    .mergeWith(attributes|default)
%}

{% block wrapper %}
    <div class="content-collection">
        {{ parent() }}
    </div>
{% endblock %}

{% block content %}
    {% for fragment in nested_fragments %}
        {{ content_element(fragment) }}
    {% endfor %}
{% endblock %}
